<div role="main" class="main">
  <section class="page-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li><%= link_to '首页', root_path %></li>
            <li class="active">下载中心</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>视频资料</h1>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <ul class="products product-thumb-info-list" data-plugin-masonry>
        <li class="col-md-3 col-sm-6 col-xs-12 product">
          <span class="product-thumb-info">
            <a href="#">
              <span class="product-thumb-info-image">
                <span class="product-thumb-info-act">
                  <em><i class="fa fa-cloud-download"></i> 下载观看</em>
                </span>
                <%= image_tag 'frontend/product-demo.jpg', class: 'img-responsive' %>
              </span>
            </a>
            <span class="product-thumb-info-content">
              <a href="#">
                <h4>北京中安卫通通讯设备有限公司</h4>
              </a>
            </span>
          </span>
        </li>
        <li class="col-md-3 col-sm-6 col-xs-12 product">
          <span class="product-thumb-info">
            <a href="#">
              <span class="product-thumb-info-image">
                <span class="product-thumb-info-act">
                  <em><i class="fa fa-cloud-download"></i> 下载观看</em>
                </span>
                <%= image_tag 'frontend/product-demo.jpg', class: 'img-responsive' %>
              </span>
            </a>
            <span class="product-thumb-info-content">
              <a href="#">
                <h4>北京中安卫通通讯设备有限公司</h4>
              </a>
            </span>
          </span>
        </li>
        <li class="col-md-3 col-sm-6 col-xs-12 product">
          <span class="product-thumb-info">
            <a href="#">
              <span class="product-thumb-info-image">
                <span class="product-thumb-info-act">
                  <em><i class="fa fa-cloud-download"></i> 下载观看</em>
                </span>
                <%= image_tag 'frontend/product-demo.jpg', class: 'img-responsive' %>
              </span>
            </a>
            <span class="product-thumb-info-content">
              <a href="#">
                <h4>北京中安卫通通讯设备有限公司</h4>
              </a>
            </span>
          </span>
        </li>
        <li class="col-md-3 col-sm-6 col-xs-12 product">
          <span class="product-thumb-info">
            <a href="#">
              <span class="product-thumb-info-image">
                <span class="product-thumb-info-act">
                  <em><i class="fa fa-cloud-download"></i> 下载观看</em>
                </span>
                <%= image_tag 'frontend/product-demo.jpg', class: 'img-responsive' %>
              </span>
            </a>
            <span class="product-thumb-info-content">
              <a href="#">
                <h4>北京中安卫通通讯设备有限公司</h4>
              </a>
            </span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>