<div class="pageheader">
  <h2><i class="fa fa-pencil-square-o"></i> 设备管理 <span>编辑</span></h2>
</div>
<div class="contentpanel">
  <%= render "cms/commons/error_messages", target: @equipment %>
  <div class="panel panel-dark">
    <div class="panel-heading">
      <h4 class="panel-title">设备信息</h4>
    </div>
    <div class="panel-body panel-body-nopadding">
      <%= form_for [:cms, @equipment], html: { class: 'form-horizontal form-bordered' } do |f| %>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'equipment.vehicle' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @equipment.category.angle.vehicle.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'equipment.angle' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @equipment.category.angle.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'equipment.name' %></label>
          <div class="col-sm-6">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'equipment.image' %></label>
          <div class="col-sm-6">
            <%= f.file_field :image, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'equipment.description' %></label>
          <div class="col-sm-6">
            <%= f.text_area :description, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12 text-center">
            <%= f.submit '提交', class: 'btn btn-primary' %>&nbsp;
            <%= link_to '返回设备信息', [:cms, @equipment], class: 'btn btn-default' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>