<div class="pageheader">
  <h2><i class="fa fa-file-text-o"></i> 设备管理 <span>查看</span></h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <div class="panel panel-dark">
    <div class="panel-heading">
      <h4 class="panel-title">设备信息</h4>
    </div>
    <div class="panel-body panel-body-nopadding">
      <%= form_tag nil, class: 'form-horizontal form-bordered' do %>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'equipment.vehicle' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @equipment.category.angle.vehicle.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'equipment.angle' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @equipment.category.angle.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'equipment.name' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @equipment.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'equipment.image' %></label>
          <div class="col-sm-6">
            <%= image_tag @equipment.image %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'equipment.description' %></label>
          <div class="col-sm-6">
            <%= text_area_tag nil, @equipment.description, readonly: true, class: 'form-control' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="panel-footer">
      <%= link_to '返回视角信息', [:cms, @equipment.category.angle], class: 'btn btn-default' %>&nbsp;
      <%= link_to '编辑', edit_cms_equipment_path(@equipment), class: 'btn btn-primary' %>&nbsp;
      <%= link_to '删除', [:cms, @equipment], method: :delete, data: { confirm: '确定要删除吗？' }, class: 'btn btn-primary' %>
    </div>
  </div>
</div>