<div role="main" class="main">
  <section class="page-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li><%= link_to '首页', root_path %></li>
            <li class="active">关于我们</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>关于我们</h1>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <p>　　北京中安卫通科技有限公司是一家致力于电子信息领域建设的股份制有限公司，主要针对通讯领域市场建设，产品主要为：动中通天线，静中通天线，船载动中通天线，便携站，数字集群，应急通信系统集成、服务等；公司先后为公安部、北京市公安局、海南省公安厅、四川省省公安厅及17个地市、山西省公安厅、西藏省公安厅、天津市公安局、北京红十字会集成、调试动中通、静中通、便携站等通讯产品，取得客户的好评。</p>
    <p>　　中安卫通秉着“创新、务实、诚信、平等”的总体原则，以优质的产品为基础，以先进的技术为平台，以全方位360度的服务为后盾，以专业先进的技术为导向，与新老客户精诚合作，在应急事件等发生时，大大的提高客户整体作战能力与联动性能，从而使事件处理速度加快，事件处理质量提高。通过中安卫通全体员工的同心协力、不懈努力，和广大客户的大力支持，携手共创未来！</p>
    <p>　　北京中安卫通科技有限公司与中国电子科技集团公司第五十四研究所在2013年形成战略合作伙伴，携手开创中国电子信息的美好蓝图，共同推动中国应急通信的综合竞争力。</p>
    <hr class="tall">
    <div class="row">
      <div class="col-md-12">
        <h3 class="push-top">历史项目</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="history">
          <li data-appear-animation="fadeInUp">
            <div class="thumb">
              <%= image_tag 'frontend/history-1.jpg' %>
            </div>
            <div class="featured-box">
              <div class="box-content">
                <h4><strong>2013</strong></h4>
                <p>中安卫通秉着“创新、务实、诚信、平等”的总体原则，以优质的产品为基础，以先进的技术为平台，以全方位360度的服务为后盾，以专业先进的技术为导向，与新老客户精诚合作，在应急事件等发生时，大大的提高客户整体作战能力与联动性能，从而使事件处理速度加快，事件处理质量提高。通过中安卫通全体员工的同心协力、不懈努力，和广大客户的大力支持，携手共创未来！</p>
              </div>
            </div>
          </li>
          <li data-appear-animation="fadeInUp">
            <div class="thumb">
              <%= image_tag 'frontend/history-2.jpg' %>
            </div>
            <div class="featured-box">
              <div class="box-content">
                <h4><strong>2014</strong></h4>
                <p>中安卫通秉着“创新、务实、诚信、平等”的总体原则，以优质的产品为基础，以先进的技术为平台，以全方位360度的服务为后盾，以专业先进的技术为导向，与新老客户精诚合作，在应急事件等发生时，大大的提高客户整体作战能力与联动性能，从而使事件处理速度加快，事件处理质量提高。通过中安卫通全体员工的同心协力、不懈努力，和广大客户的大力支持，携手共创未来！</p>
              </div>
            </div>
          </li>
          <li data-appear-animation="fadeInUp">
            <div class="thumb">
              <%= image_tag 'frontend/history-3.jpg' %>
            </div>
            <div class="featured-box">
              <div class="box-content">
                <h4><strong>2014</strong></h4>
                <p>中安卫通秉着“创新、务实、诚信、平等”的总体原则，以优质的产品为基础，以先进的技术为平台，以全方位360度的服务为后盾，以专业先进的技术为导向，与新老客户精诚合作，在应急事件等发生时，大大的提高客户整体作战能力与联动性能，从而使事件处理速度加快，事件处理质量提高。通过中安卫通全体员工的同心协力、不懈努力，和广大客户的大力支持，携手共创未来！</p>
              </div>
            </div>
          </li>
          <li data-appear-animation="fadeInUp">
            <div class="thumb">
              <%= image_tag 'frontend/history-4.jpg' %>
            </div>
            <div class="featured-box">
              <div class="box-content">
                <h4><strong>2015</strong></h4>
                <p>中安卫通秉着“创新、务实、诚信、平等”的总体原则，以优质的产品为基础，以先进的技术为平台，以全方位360度的服务为后盾，以专业先进的技术为导向，与新老客户精诚合作，在应急事件等发生时，大大的提高客户整体作战能力与联动性能，从而使事件处理速度加快，事件处理质量提高。通过中安卫通全体员工的同心协力、不懈努力，和广大客户的大力支持，携手共创未来！</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>