<div role="main" class="main">
  <section class="page-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li><%= link_to '首页', root_path %></li>
            <li class="active">维护维保</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>维护维保</h1>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-posts">
          <article class="post">
            <div class="post-image">
              <div class="owl-carousel" data-plugin-options='{"items":1}'>
                <div>
                  <div class="img-thumbnail">
                    <%= image_tag 'frontend/maintenance-1.jpg', class: 'img-responsive' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="post-content">
              <h4 class="text-primary">第一阶段 - First Stage - FREE</h4>
              <p class="text-primary">免费尝试，全方位电话技术服务免费三次现场保障</p>
              <ol>
                <li>提供一定时间内的新设备免费借用，用于用户的故障设备替换；</li>
                <li>提供24小时免费的电话技术支持，使用户在设备出问题时快速的得到免费援助；</li>
                <li>提供免费的三次技术人员现场保障。</li>
              </ol>
            </div>
            <hr />
            <div class="post-content">
              <h4 class="text-primary">第二阶段 - Second Stage - BETTER</h4>
              <p class="text-primary">为了给用户提供更好的服务</p>
              <ol>
                <li>根据事件的轻重缓急，提供合理时限的服务；</li>
                <li>提供设备维修租赁服务；</li>
                <li>现场维护，只收取合理差旅费；</li>
                <li>更专业的技术培训和针对性的技术指导，收取合理的培训费。</li>
              </ol>
            </div>
            <hr />
            <div class="post-content">
              <h4 class="text-primary">第三阶段 - Third Stage - VIP</h4>
              <p class="text-primary">适时保障，自主选择，数据全面积累</p>
              <ol>
                <li>全方位24小时适时保障，提供VIP服务；</li>
                <li>提供全面的设备租赁及服务，用户可自主选择，自主搭配；</li>
                <li>用户私有数据的积累，为用户提供更好的研判依据。</li>
              </ol>
            </div>
            <hr />
            <div class="post-content">
              <h4 class="text-primary">第四阶段 - Fourth Stage - ALL FOR YOU</h4>
              <p class="text-primary">性价比最高，量身定制，第三方担保</p>
              <ol>
                <li>为用户量身定制性价比最高的服务方案；</li>
                <li>提供整车整系统的备勤；</li>
                <li>第三方高额设备担保；</li>
                <li>彼此展开长期稳定的合作。</li>
              </ol>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
  <section class="featured highlight footer">
    <div class="container">
      <div class="row center counters">
        <div class="col-md-3 col-sm-6">
          <strong data-to="7000" data-append="+">0</strong>
          <label>团队规模</label>
        </div>
        <div class="col-md-3 col-sm-6">
          <strong data-to="15">0</strong>
          <label>市场经验/年</label>
        </div>
        <div class="col-md-3 col-sm-6">
          <strong data-to="32">0</strong>
          <label>覆盖省市</label>
        </div>
        <div class="col-md-3 col-sm-6">
          <strong data-to="352">0</strong>
          <label>服务次数</label>
        </div>
      </div>
    </div>
  </section>
  <section class="video" data-video-path="video/dark" data-plugin-video-background data-plugin-options='{"posterType": "jpg", "position": "50% 50%"}'>
    <div class="container">
      <div class="row center">
        <div class="col-md-6">
          <div class="row">
            <div class="owl-carousel" data-plugin-options='{"items": 1}'>
              <div>
                <blockquote>
                  <p>免费尝试，全方位电话技术服务免费三次现场保障</p>
                  <p>Free to try, comprehensive telephony services free of charge three times a site security</p>
                </blockquote>
              </div>
              <div>
                <blockquote>
                  <p>为了给用户提供更好的服务</p>
                  <p>In order to provide better service</p>
                </blockquote>
              </div>
              <div>
                <blockquote>
                  <p>适时保障，自主选择，数据全面积累</p>
                  <p>Guarantee timely, independent choice, comprehensive data accumulation</p>
                </blockquote>
              </div>
              <div>
                <blockquote>
                  <p>性价比最高，量身定制，第三方担保</p>
                  <p>The highest price, tailored, third party guarantees</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-primary">我们的团队</h2>
        <p>实力加自信就是一个坚韧不可摧的团。站在每一个人都想挑战自我的立场上，我们以实力为盾、自信为矛、团结为勇气，组成了激情无畏的团体。我们会用实力证明，我们是最棒的，让我们勇敢地去做吧。实力加自信就是一个坚韧不可摧的团。站在每一个人都想挑战自我的立场上，我们以实力为盾、自信为矛、团结为勇气，组成了激情无畏的团体。我们会用实力证明，我们是最棒的，让我们勇敢地去做吧。实力加自信就是一个坚韧不可摧的团。站在每一个人都想挑战自我的立场上，我们以实力为盾、自信为矛、团结为勇气，组成了激情无畏的团体。我们会用实力证明，我们是最棒的，让我们勇敢地去做吧。</p>
      </div>
    </div>
    <hr class="tall" />
  </div>
  <div class="container">
    <div class="row" id="team">
      <div class="col-md-12">
        <div class="row">
          <ul class="team-list">
            <li class="col-md-3 col-sm-6 col-xs-12">
              <div class="team-item thumbnail">
                <a href="about-me.html" class="thumb-info team">
                  <%= image_tag 'frontend/team-1.jpg', height: 270 %>
                  <span class="thumb-info-title">
                    <span class="thumb-info-inner">周子君 Joe Zhou</span>
                    <span class="thumb-info-type">项目经理</span>
                  </span>
                </a>
                <span class="thumb-info-caption">
                  <p>国企大型工程6年现场技术员、5年技术管理科科长，后从事技术负责人、项目经理及大型工程副总工程师工作。</p>
                  <span class="thumb-info-social-icons">
                    <a data-tooltip data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                    <a data-tooltip data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                    <a data-tooltip data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                  </span>
                </span>
              </div>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12">
              <div class="team-item thumbnail">
                <a href="about-me.html" class="thumb-info team">
                  <%= image_tag 'frontend/team-2.jpg', height: 270 %>
                  <span class="thumb-info-title">
                    <span class="thumb-info-inner">Jessica Doe</span>
                    <span class="thumb-info-type">项目助理</span>
                  </span>
                </a>
                <span class="thumb-info-caption">
                  <p>国企大型工程6年现场技术员、5年技术管理科科长，后从事技术负责人、项目经理及大型工程副总工程师工作。</p>
                  <span class="thumb-info-social-icons">
                    <a data-tooltip data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                    <a data-tooltip data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                    <a data-tooltip data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                  </span>
                </span>
              </div>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12">
              <div class="team-item thumbnail">
                <a href="about-me.html" class="thumb-info team">
                  <%= image_tag 'frontend/team-3.jpg', height: 270 %>
                  <span class="thumb-info-title">
                    <span class="thumb-info-inner">Rick Edward Doe</span>
                    <span class="thumb-info-type">工程师</span>
                  </span>
                </a>
                <span class="thumb-info-caption">
                  <p>国企大型工程6年现场技术员、5年技术管理科科长，后从事技术负责人、项目经理及大型工程副总工程师工作。</p>
                  <span class="thumb-info-social-icons">
                    <a data-tooltip data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                    <a data-tooltip data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                    <a data-tooltip data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                  </span>
                </span>
              </div>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12">
              <div class="team-item thumbnail">
                <a href="about-me.html" class="thumb-info team">
                  <%= image_tag 'frontend/team-4.jpg', height: 270 %>
                  <span class="thumb-info-title">
                    <span class="thumb-info-inner">Melinda Wolosky</span>
                    <span class="thumb-info-type">工程师</span>
                  </span>
                </a>
                <span class="thumb-info-caption">
                  <p>国企大型工程6年现场技术员、5年技术管理科科长，后从事技术负责人、项目经理及大型工程副总工程师工作。</p>
                  <span class="thumb-info-social-icons">
                    <a data-tooltip data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                    <a data-tooltip data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                    <a data-tooltip data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                  </span>
                </span>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>