<div class="pageheader">
  <h2><i class="fa fa-pencil-square-o"></i> 车辆管理 <span>创建</span></h2>
</div>
<div class="contentpanel">
  <%= render "cms/commons/error_messages", target: @vehicle %>
  <div class="panel panel-dark">
    <div class="panel-heading">
      <h4 class="panel-title">车辆信息</h4>
    </div>
    <div class="panel-body panel-body-nopadding">
      <%= form_for [:cms, @vehicle], html: { class: 'form-horizontal form-bordered' } do |f| %>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'vehicle.name' %></label>
          <div class="col-sm-6">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'setting' %></label>
          <div class="col-sm-6">
            <div class="ckbox ckbox-default mt10">
              <%= f.check_box :visible %>
              <label for="vehicle_visible"><%= brac_t 'vehicle.visible' %></label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12 text-center">
            <%= f.submit '提交', class: 'btn btn-primary' %>&nbsp;
            <%= link_to '返回车辆列表', cms_vehicles_path, class: 'btn btn-default' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>