<!DOCTYPE html>
<html>
<head>
  <title>TIANYI XINGHE</title>
  <%= stylesheet_link_tag 'frontend', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div id="container">
      <div id="navi">
        <ul class="sf-menu">
          <li>
            <%= link_to '首　页', root_path %>
          </li>
          <li>
            <%= link_to '关于我们', about_us_path %>
          </li>
          <li>
            <%= link_to '市场领域', markets_path %>
            <ul>
              <li>
                <%= link_to '超材料领域' %>
              </li>
              <li>
                <%= link_to '陆用领域' %>
              </li>
              <li>
                <%= link_to '航空领域' %>
              </li>
              <li>
                <%= link_to '海事领域' %>
              </li>
            </ul>
          </li>
          <li>
            <%= link_to '产品系列', test_products_path %>
          </li>
          <li>
            <%= link_to '线上组装' %>
          </li>
          <li>
            <%= link_to '联系我们' %>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
      <%= yield %>
    </div>
  <%= javascript_include_tag 'frontend', 'data-turbolinks-track' => true %>
  <%= javascript_tag do %>
    jQuery(document).ready(function(){
      jQuery('ul.sf-menu').superfish();
    });
  <% end %>
  </body>
</html>
